table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
}

.table td {
    text-align: center;
}

.h2, .h3, .h4 {
    font-weight: 300;
}

.middle-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d2d0d0;
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: #999;
}

.middle-line span {
    background: #f8fafc;
    padding: 0 10px;
}
.fa-google {
    color: #DD4B39;
}

.fa-google:hover {
    color: #E3695A;
}

.fa-google:active {
    color: #C03221;
}

.fa-facebook-f {
    color: #3B5999;
}

.fa-facebook-f:hover {
    color: #4669B4;
}

.fa-facebook-f:active {
    color: #2C4272;
}

.fa-github {
    color: #333;
}

.fa-github:hover {
    color: #4b4b4b;
}

.fa-github:active {
    color: #292929;
}